html {
  box-sizing: border-box;
  background-color: #f0eee8;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.link-card h2 {
  font-family: Dosis, sans-serif;
  font-size: 1.5rem;
}

.link-card {
  border: 3px solid #9a816d;
  border-radius: 8px;
  background-color: #dcd4cd;
  padding: 0;
  color: #512200;
}

dl {
  font-style: italic;
  overflow: hidden;
  margin: 0;
}

dt {
  float: left;
  clear: left;
  width: 35%;
}

dd {
  margin: 0;
  float: left;
  width: 35%;
}

p {
  line-height: 1.5;
  font-size: 1.5;
}
