html {
  box-sizing: border-box;
  background-color: #f0eee8;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.link-card h2 {
  font-family: Dosis, sans-serif;
  font-size: 1.5rem;
  margin-top: auto;
  margin-bottom: 0;
}

.link-card {
  border: 3px solid #9a816d;
  border-radius: 8px;
  background-color: #dcd4cd;
  padding-left: 10px;
  padding-right: 10px;
  color: #512200;
}

dl {
  overflow: hidden;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  line-height: 1.5;
}

dt {
  float: left;
  clear: left;
  width: 35%;
}

dd {
  margin: 0;
  float: left;
  width: 35%;
  font-style: italic;
}

p {
  line-height: 1.5;
  font-family: Georgia, serif;
  margin: 0.5;
  font-size: 1.5;
  margin-bottom: 0;
}

.btn {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: .4em .75em .5em;
}

a {
  font-family: Dosis, sans-serif;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  border-radius: 8px;
  padding: .43m .75em .5em;
  border: 3px solid #785439;
  background-color: #785439;
}

.link-card:hover {
  background-color: #cabdb2;
}

nav a:hover {
  background-color: #512200;
  border: 3px solid #512200;
}

.border {
  border: 2px solid #9a816d;
  border-right: none;
  border-left: none;
}
